<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Display</title>
    </head>
    <body>

        <h1 style="text-align:center; background: blue;">This is display page</h1>

        <p style="text-align:center; margin: 4%;">This is paragraph in the display page.</p>

        <div style="text-align:center; border:2px solid blue; margin: 2%; padding: 5%;">
            <a href="{% url 'myapp:index' %}">Go to index page</a>
        </div>

        <p id="demo">show</p>

        <script>
            function func(){
            }
        </script>

    </body>
</html>

